<nav class="navbar">

  <!-- Logo -->

  <a
    href="/api/productos"
    class="nav-brand"
  >

    🛍️ MiTienda

  </a>

  <!-- Links -->

  <div class="nav-links">

    <a
      href="/api/productos"
      class="nav-link"
    >

      Productos

    </a>

    <a
      href="/carrito"
      class="nav-link"
    >

      🛒 Carrito

    </a>

    <a
      href="/carrito/pedidos"
      class="nav-link"
    >

      📦 Pedidos

    </a>

    <a
      href="/api/productos/nuevo"
      class="nav-link nav-create"
    >

      + Nuevo Producto

    </a>

    <button 
      id="theme-toggle"
      class="theme-toggle"
    >
    🌙
    </button>

  </div>

</nav>